body {
    background-color: black;
}


.coverPhoto {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 1200px;
    top: 0px;
    left: 0px;

}

.fullName {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 300px;
    left: 610px;

}

.NameCard {
    background-color: gray;
    height: 110px;
    width: 1200px;
    margin: 8px 350px;
    border: 1px gray;
    border-radius: 20px;
  }
 
  .cardText {
      font-size: 15px;
      color: black;
      position: absolute;
      top: 350px;
      left: 610px;
      line-height: 5px;

  }


.profilePic {

    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.profileSize {
    height: 200px;
    width: 200px;
   position: absolute;
   top: 270px;
   left: 400px;

}

.btnDesign {
    text-align: center;
    margin-top: 20px;
    margin-left: 180px;
    z-index: 5;
}

.buttonTab {

    height: 60px;
    width: 1200px;
    position: absolute;
    top: 480px;
    left: 358px;
    z-index: 1;
}

.content {
    background-color: white;
    border-radius: 20px;
    width: 1200px;
    height: 2800px;
    margin: 150px 350px;
    
    
}

.aboutMe {
    background-color: white;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    position: absolute;
    top: 700px;
    left: 550px;

}

.AbtMeH {
    font-size: 50px;
    position: absolute;
    top: 170px;
    left: 280px;
}

.project {
    background-color: white;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    position: absolute;
    top: 1300px;
    left: 550px;

}

.Proj {
    font-size: 50px;
    position: absolute;
    top: 170px;
    left: 280px;

}

.Education {
    background-color: white;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    position: absolute;
    top: 1900px;
    left: 550px;

}

.EDUC {
    font-size: 50px;
    position: absolute;
    top: 170px;
    left: 280px;

}

.Experience {
    background-color: white;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    position: absolute;
    top: 2500px;
    left: 550px;

}

.EXP {
    font-size: 50px;
    position: absolute;
    top: 170px;
    left: 280px;

}

