body, html {
    height: 100%;
    margin: 0;
    background-color: lightgray;
    font-family: 'Lora', serif;
    scroll-behavior: smooth;
  }



#coverImg {

    background-image: url("background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    

    position: relative;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 0px, 0px);
    background-color: white;
    opacity: 0.5;
}

.vert {
    position: absolute;
    bottom: 60%;
    background-color: black;
    height: 1%;
    width: 38%;
    left: 25%;
    border: 1px solid black;
}

.homeH {

    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 50%;
    color: black;
    left: 10%;
    font-weight: 500;
    font-size: 90px;

}

.homeN {

    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 140px;
    bottom: 30%;
    left: 10%;
    color: black;
    font-weight: 1400;

}



.profileImg {
    height: 300px;
    width: 300px;
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 6px 5px gray;
    border: 2px solid black;
}

.name {
    position: absolute;
    left: 30%;
    top: 35%;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
}

.content {
    position: absolute;
    right: 12%;
    top: 40%;
    font-size: 16px;
    line-height: 150%;
    color: black;
    line-height: 40px;
    text-align: justify;

    padding-left: 600px;
    padding-right: 600px;

}

.home {
   

    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;
}


.about {
  

    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;

}

.projects {

    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;

}

.experience {

    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;

}

.skills {
    
    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;

}

.contactMe {
    
    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;

}

.interests {
    
    position: relative;
    padding-top: 20px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-left: 90px;
    text-decoration: none;
    color: white;

}

.navButtons {
    
    display: flex;
    justify-content:space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#navBar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: black!important;
    color: white!important;
    width: 100%;
    height: 5%;
    z-index: 600;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  nav ul {
    margin: 0px;

  }

  nav li {
    display: flex;
    justify-content:space-between;
    float: left;
    text-decoration: none;
    
  }

  a {
    color: white;
  }


#aboutPage {
    position: relative;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;


}

.aboutH {
    font-size: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    right: 6%;
    color: black;
    top: 31%;

}


.descriptionA {

    font-size: 20px;
    position: absolute;
    width: 30%;
    bottom: 20%;
    left: 60%;
    border-left: 5px solid black;
    padding-left: 3%;

}

#projPage {

    position: relative;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;

}

.projH {
    font-size: 50px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    top: 10%;
    left: 5%;

}

.descriptionP {

    font-size: 30px;
    position: relative;
    width: 50%;
    height: 100%;
    top: 25%;
    left: 5%;
    color: white;

}

#expPage {

    position: relative;
    background-color: rgba(0,0,0, 0.7);
    height: 100%;

}

.expH {
    font-size: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: white;
    top: 10%;

}

.expSubH {

    position: relative;
    font-size: 20px;
    top: 8%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;


}

.expHr{

    position: relative;
    top: 10%;
    width: 50%;
    text-align: center;
    color: white;

}

.educH {

    font-size: 30px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: black;
    top: 30%;
    left: 25.5%;

}

.firstExp {
    
    font-size: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3000;
    text-transform: uppercase;
    text-align: left;
    color: black;
    top: 36%;
    left: 40%;
}
.firstExpLoc {

    font-size: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3000;
    text-transform: uppercase;
    text-align: left;
    color: white;
    top: 36%;
    left: 26%;

}

.firstExpDate {

    font-size: 16px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: white;
    top: 39%;
    left: 26%;

}


.descriptionEF {

    font-size: 16px;
    text-align: left;
    position: absolute;
    width: 35%;
    top: 40%;
    left: 40%;

}


.secondExp {
    
    font-size: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3000;
    text-transform: uppercase;
    text-align: left;
    color: black;
    top: 52.5%;
    left: 40%;
}
.secondExpLoc {

    font-size: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3000;
    text-transform: uppercase;
    text-align: left;
    color: white;
    top: 52.5%;
    left: 26%;

}

.secondExpDate {

    font-size: 16px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: white;
    top: 56%;
    left: 26%;

}


.descriptionES {

    font-size: 16px;
    text-align: left;
    position: absolute;
    width: 35%;
    top: 56%;
    left: 40%;

}


.thirdExp {
    
    font-size: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3000;
    text-transform: uppercase;
    text-align: left;
    color: black;
    top: 69%;
    left: 40%;
}
.thirdExpLoc {

    font-size: 20px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3000;
    text-transform: uppercase;
    text-align: left;
    color: white;
    top: 69%;
    left: 26%;

}

.thirdExpDate {

    font-size: 16px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: white;
    top: 72.5%;
    left: 26%;

}


.descriptionET {

    font-size: 16px;
    text-align: left;
    position: absolute;
    width: 35%;
    top: 72.5%;
    left: 40%;

}


#skillsPage {

    position: relative;
    height: 100%;

}

.skillsH {
    font-size: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    top: 10%;
    text-align: center;

}

.skillsHr {

    position: relative;
    top: 10%;
    width: 50%;
    text-align: center;
    color: white;
    height: 0.2%;
    background-color: black;


}

.nobullets {
    list-style-type: none;
}

.skill-title {
    position: absolute;
    top: 30%;
    font-weight: 500;
    left: 25%;
    font-size: 25px;
}

.skill-score {
    position: absolute;
    top: 31%;
    left: 40%;
    
}

.skill-title1 {

    position: absolute;
    top: 35%;
    font-weight: 500;
    left: 25%;
    font-size: 25px;

}

.skill-score1 {
    position: absolute;
    top: 35.5%;
    left: 40%;

}

.skill-title2 {

    position: absolute;
    top: 40%;
    font-weight: 500;
    left: 25%;
    font-size: 25px;

}

.skill-score2 {
    position: absolute;
    top: 40.5%;
    left: 40%;

}

.skill-title3 {

    position: absolute;
    top: 45%;
    font-weight: 500;
    left: 25%;
    font-size: 25px;

}

.skill-score3 {
    position: absolute;
    top: 45.5%;
    left: 40%;

}

.skill-title4 {

    position: absolute;
    top: 50%;
    font-weight: 500;
    left: 25%;
    font-size: 25px;

}

.skill-score4 {
    position: absolute;
    top: 50.5%;
    left: 40%;

}

.checked {
    color: white;
}

#interestsPage {

    position: relative;
    height: 100%;

}

.interestsH {
    font-size: 50px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    top: 10%;
    left: 5%;

}

.descriptionI {

    font-size: 30px;
    position: relative;
    width: 50%;
    height: 100%;
    top: 25%;
    left: 5%;

}


#contactPage {

    position: relative;
    background-color: rgba(0,0,0, 0.7);
    height: 50%;

}

.contactH {
    font-size: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: white;

}



